@import "variables";

.footer {
    height: 80px;
    border-top: 1px solid $gray-border;
    padding-top: $padding-large-vertical;
    color: $gray-text;

    a {
        color: $gray-text-dark;
    }
}
