@import "variables";

.navbar {
    border-width: 0 0 1px 0;
    font-weight: bold;
}

.navbar-brand {
    line-height: $navbar-brand-height;
    padding: $navbar-brand-padding-vertical $navbar-brand-padding-right $navbar-brand-padding-vertical $navbar-brand-padding-left;
}

.navbar-nav {
    margin-right: 15px;
}

.navbar-transparent {
    background: transparent;

    .navbar-nav > li > a {
        color: hsl(208, 21%, 80%);
    }
}
