@import "variables-bootstrap";

$navbar-brand-height:           30px;
$navbar-brand-padding-vertical: (($navbar-height - $navbar-brand-height) / 2);
$navbar-brand-padding-left:     15px;
$navbar-brand-padding-right:    15px;
