{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'header.html.twig' %}

        {% block main_wrapper %}
        <div class="main">{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}</div>
        {% endblock %}

        {% include 'footer.html.twig' %}
    </div>
{% endblock %}
