{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-wrapper">
        <div class="container">
            {% include 'header.html.twig' %}
        </div>
    </div>
    <div class="container">

        {% block main_wrapper %}
        <div class="main">{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}</div>
        {% endblock %}

        {% include 'footer.html.twig' %}
    </div>
{% endblock %}
