<footer class="footer row">
    <div class="col-sm-6">&copy; {{ "now"|date("Y") }} Bernhard Schussek</div>
    <nav class="col-sm-6 text-right">
        <ul class="list-inline">
            <li><a href="/training/terms" title="General Terms and Conditions for Trainings">Terms and Conditions</a></li>
            <li><a href="/contact" title="Contact Bernhard Schussek">Contact</a></li>
            <li><a href="/imprint">Imprint</a></li>
        </ul>
    </nav>
</footer>
