<footer class="footer row">
    <div class="col-sm-6">&copy; {{ "now"|date("Y") }} <a href="https://webmozart.io" title="PHP/Symfony Trainings by Bernhard Schussek">Bernhard Schussek</a></div>
    <nav class="col-sm-6 text-right">
        <ul class="list-inline">
            <li><a href="/imprint">Imprint</a></li>
            <li><a href="/download">Download</a></li>
        </ul>
    </nav>
</footer>
